
# # Ignore everything
# build/
# README.rst
# .vscode/
# .west/
# zephyr/
# .DS_Store
# sample.yaml
# # But not these files...
# !.gitignore
# !CMakeLists.txt
# !prj.conf


# # ...and not these folders...
# !/src/
# !boards/

